body{
    background-image: url('star-wars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

h1{
    color: blue;
    text-align: center;
}

p {
    color: rgb(255, 174, 0);
    text-align: center; 
}